#!/usr/bin/env bash
{% def escape(password) %}${password.replace('\\'', '\'\\\\\'\'')}{% end %}
{% for instance in parts.buildout['metabase-instances'].split('\n') %}
echo '${instance}'
${parts.buildout['bin-directory']}/init-metabase-instance \\
    --metabase-host='${parts[instance]['metabase-host']}' \\
    --metabase-port='${parts[instance]['metabase-port']}' \\
    --metabase-user='${parts[instance]['metabase-user']}' \\
    --metabase-password='${escape(parts[instance]['metabase-password'])}' \\
    --database-name='${parts[instance]['database-name']}' \\
    --database-host='${parts[instance]['database-host']}' \\
    --database-port='${parts[instance]['database-port']}' \\
    --database-user='${parts[instance]['database-user']}' \\
    --database-password='${escape(parts[instance]['database-password'])}' \\
    --database-name-statistics='${parts[instance]['database-name-statistics']}' \\
    --statistics-user-email='${parts[instance]['statistics-user-email']}' \\
    --statistics-user-password='${escape(parts[instance]['statistics-user-password'])}' \\
    --statistics-user-first-name='${parts[instance]['statistics-user-first-name']}' \\
    --statistics-user-last-name='${parts[instance]['statistics-user-last-name']}' \\
    || exit $?
{% end %}
